<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  </head>
  <body>
	<div style="color: red; font-weight: bold;">
	  {% for page in site.header_pages %}
		[{{ page.title }}] {{ page.path }}<br/>
	  {% endfor %}
	</div>
    <header class="site-header">
      <div class="wrapper">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        {% if site.header_pages %}
        <nav class="site-nav">
          {% for page in site.header_pages %}
            <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
          {% endfor %}
        </nav>
        {% endif %}
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <footer class="site-footer">
      <div class="wrapper">
        <p>{{ site.title }} – {{ site.description }}</p>
      </div>
    </footer>
  </body>
</html>
